* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2e80ce;
  --secondary-color: #10375c;
  --paragraph-text-color: #575f66;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 30px;
  background: var(--primary-color);
}

.direction__previous,
.direction__next {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  color: var(--paragraph-text-color);
  border: 1px solid var(--paragraph-text-color);
  border-radius: 50%;
  line-height: 35px;
  cursor: pointer;
}

.direction__previous:hover,
.direction__next:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.direction__next {
  margin-left: 18px;
}

.cline-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== Header ===== */
.header {
  position: sticky;
  top: -22px;
  background-color: var(--secondary-color);
  padding-top: 22px;
  z-index: 9;
}

.header .row {
  justify-content: space-between;
  padding: 8px 0;
}

.logo {
  position: relative;
  display: flex;
  gap: 0.6em;
  font-size: 1rem;
}

.logo__circle::after,
.logo__circle::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  bottom: 0.5em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background-color: #fff;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__brand {
  color: #fff;
  text-align: right;
  font-size: 1.8em;
  line-height: 1;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

.navbar__item {
  display: inline-block;
}

.navbar__item + .navbar__item {
  margin-left: 32px;
}

.navbar__link {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  color: #c9d2da;
  font-weight: 300;
  text-align: center;
}

.navbar__link::after {
  content: attr(title);
  display: block;
  font-weight: 400;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.navbar__link.active,
.navbar__link:hover {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.navbar__link.active::before,
.navbar__link:hover::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.header .action_link {
  color: #c9d2da;
  font-weight: 300;
}

.header .action__btn {
  margin-left: 28px;
  font-size: 1.6rem;
  border-radius: 22px;
}

/* ===== Hero ===== */
.hero {
  padding: 68px 0 110px;
  background-color: var(--secondary-color);
}

.hero__content {
  width: 44%;
}

.hero .content__title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.8px;
}

.hero .content__desc {
  margin: 22px 0 38px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.hero .content__action .btn {
  padding: 15px 46px;
}

.hero .content__action .link {
  margin-left: 38px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero__img {
  margin-left: auto;
}

.hero__img .img__left {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  z-index: 1;
}

.hero__img .img__right {
  width: 210px;
  height: 410px;
  margin-left: -6px;
  object-fit: cover;
  border-radius: 0 6px 6px 0;
}

/* ===== Services ===== */
.services {
  margin: 170px 0;
}

.services__title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.services__desc {
  width: 468px;
  margin: 18px auto 0;
  color: var(--paragraph-text-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.services__info {
  margin-top: 70px;
  gap: 130px;
}

.services__info .info__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
  object-position: top center;
}

.services__info .info__item {
  padding: 20px 0 18px 22px;
  border-radius: 10px;
  background-color: #fff;
}

.services__info .info__item.row {
  align-items: flex-start;
  gap: 19px;
}

.services__info .info__item .fa-tooth {
  /* flex-shrink: 0; */
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2.5rem;
  color: var(--secondary-color);
  line-height: 58px;
  border-radius: 50%;
  background-color: #eff6fd;
}

.services__info .info__item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__info .info__item:hover .fa-tooth {
  background-color: var(--primary-color);
  color: #fff;
}

.services__info .item__title {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.services__info .item__desc {
  margin-top: 8px;
  color: var(--paragraph-text-color);
  font-weight: 300;
  line-height: 1.75;
}

.services__info .btn {
  margin-top: 55px;
  padding: 15px 48px;
}

/* ===== Works ===== */
.works {
  padding: 100px 0;
  background-color: #f6fbff;
}

.works__title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.works__desc {
  width: 42%;
  margin-top: 18px;
  color: var(--paragraph-text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.works__list {
  margin-top: 86px;
  justify-content: space-between;
  gap: 30px;
}

.works__list .item {
  padding: 43px 42px;
  border: 14px solid #eaf6ff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.works__list .item__title {
  margin-top: 18px;
  color: var(--secondary-color);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.works__list .item__desc {
  margin-top: 28px;
  color: var(--paragraph-text-color);
  font-weight: 300;
  line-height: 1.75;
}

.works__list .item__link {
  display: inline-block;
  margin-top: 18px;
  font-weight: 300;
  color: var(--paragraph-text-color);
}

.works__list .item:hover {
  transform: translateY(-16px);
  border-color: var(--primary-color);
}

.works__list .item:hover .item__link {
  color: var(--primary-color);
  font-weight: 400;
}

/* ===== About ===== */
.about {
  margin-top: 170px;
}

.about__img {
  position: relative;
}

.about__img--left {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.about__img--right {
  position: absolute;
  top: 32%;
  right: -11.2%;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.about .content {
  width: 40%;
  margin-left: auto;
}

.about .content__title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.about .content__desc {
  margin-top: 18px;
  color: var(--paragraph-text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.about .content__btn {
  margin-top: 38px;
  padding: 15px 51px;
}

/* ===== Team ===== */
.team {
  margin-top: 291px;
}

.team__title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.team__btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 38px;
  padding: 15px 26px;
}

.team__list {
  margin-top: 70px;
  gap: 30px;
  overflow: hidden;
}

.team__list .item {
  width: calc(25% - 22.5px);
  flex-shrink: 0;
}

.team__list figure {
  width: 100%;
  height: 318px;
  background-color: #eaf6ff;
  overflow: hidden;
  border-radius: 6px;
}

.team__list .item__img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.team__list .item__name {
  margin-top: 12px;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
}

.team__list .item__school {
  color: var(--paragraph-text-color);
  font-family: Sora;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.85;
}

.team__list .item__img-1 {
  height: 170%;
  object-position: -155px -15px;
}

.team__list .item__img-2 {
  height: 130%;
  object-position: -190px 17px;
}

.team__list .item__img-3 {
  height: 120%;
  object-position: -170px 10px;
}

.team__list .item__img-4 {
  height: 100%;
  object-position: -70px 20px;
}

.team .direction {
  margin-top: 38px;
  text-align: center;
}

/* ===== CTA ===== */
.cta {
  margin-top: 265px;
}

.cta .container {
  position: relative;
  height: 427px;
  padding: 75px 70px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.cta__img {
  position: absolute;
  bottom: 0;
}

.cta .content {
  max-width: 59%;
  margin-left: auto;
  color: #fff;
}

.cta .content__title {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.cta .content__desc {
  margin-top: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.cta .app {
  margin-top: 38px;
}

.cta .app__android,
.cta .app__ios {
  gap: 7px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.cta .app__android .fa-brands,
.cta .app__ios .fa-brands {
  font-size: 2rem;
}

.cta .app__android p:first-child,
.cta .app__ios p:first-child {
  font-size: 0.8rem;
  line-height: 1.3;
}

.cta .app__android p:last-child,
.cta .app__ios p:last-child {
  font-size: 1.4rem;
}

.cta .app__ios {
  margin-left: 28px;
}

/* ===== Blog ===== */
.blog {
  margin-top: 170px;
}

.blog .content {
  width: 40%;
}

.blog .content__title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.blog .content__link {
  display: inline-block;
  margin: 28px 0;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration-line: underline;
}

.blog__list {
  width: 49%;
  margin-left: auto;
  gap: 30px;
  overflow: hidden;
}

.blog__list .item {
  width: calc(50% - 15px);
  border-radius: 12px;
  background: #fff;
  flex-shrink: 0;
  border: 1px solid #e8ebee;
  transition: all 0.3s;
  cursor: pointer;
}

.blog__list .item:hover {
  border: 1px solid #fff;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.blog__list .item__img {
  width: 100%;
  height: 46%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.blog__list .item__content {
  padding: 18px 22px;
}

.blog__list .item__title {
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 1.62;
}

.blog__list .item__desc {
  --line-clamp: 3;
  margin-top: 10px;
  color: var(--paragraph-text-color);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
}

.blog__list .item__link {
  display: inline-block;
  margin-top: 12px;
  color: var(--secondary-color);
  font-size: 1.4rem;
}

.blog__list .item:hover .item__link {
  color: var(--primary-color);
}

/* ===== Appointment ===== */
.appointment {
  margin-top: 170px;
}

.appointment .container {
  padding: 100px 0;
  background-color: #f6fbff;
  text-align: center;
}

.appointment__title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.appointment__title::after {
  content: "";
  display: block;
  margin: 18px auto;
  width: 136px;
  height: 2px;
  background-color: var(--primary-color);
}

.appointment__desc {
  width: 53%;
  margin: 0 auto;
  color: var(--paragraph-text-color);
  font-weight: 300;
  line-height: 1.75;
}

.appointment__link {
  margin-top: 38px;
  padding: 15px 40px;
}

/* ===== Footer ===== */
.footer {
  padding: 100px 0 42px;
  background-color: var(--secondary-color);
}

.footer__list {
  padding-bottom: 28px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #406181;
}

.footer__list .item:first-child,
.footer__list .item:last-child {
  width: 29%;
}

.footer__list p,
.footer__list .item__link,
.footer__copyright {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.footer__list .item:first-child .item__desc {
  font-size: 1.6rem;
  line-height: 1.75;
}

.footer__list .item:last-child .item__desc {
  width: 75%;
}

.footer__list .item__title {
  color: #fff;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list .item__title {
  margin-bottom: 20px;
}

.footer__list .item__title:last-of-type {
  margin-top: 28px;
}

.footer__list .item .item__link {
  display: inline-block;
  margin-top: 10px;
}

.footer__list li:first-child .item__link {
  margin-top: 0;
}

.footer__list .item__social {
  display: flex;
  gap: 10px;
}

.footer__list .item__social .fa-brands {
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  line-height: 31px;
  border-radius: 50%;
  transition: all 0.3s;
}

.footer__list .item__social .fa-brands:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.footer__list .item__form {
  margin-top: 10px;
}

.footer__list .item__input {
  display: inline-block;
  padding: 12px 10px;
  width: 64%;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: inherit;
  outline: none;
}

.footer__list .item__input::placeholder,
.footer__list .item__input {
  color: #9ca8b1;
  font-size: 1.4rem;
}

.footer__list .item__btn {
  padding: 8px 21px;
  margin-left: 8px;
  border-radius: 4px;
  background: #2e80ce;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85;
}

.footer__copyright {
  text-align: center;
  margin-top: 28px;
}
