* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2e80ce;
  --secondary-color: #10375c;
  --paragraph-text-color: #575f66;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  max-width: calc(1170px - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 30px;
  background: var(--primary-color);
}

/* ===== Header ===== */
.header {
  position: sticky;
  top: -22px;
  background-color: var(--secondary-color);
  padding-top: 22px;
  z-index: 9;
}

.header .row {
  justify-content: space-between;
  padding: 8px 0;
}

.logo {
  position: relative;
  display: flex;
  gap: 0.6em;
  font-size: 1rem;
}

.logo__circle::after,
.logo__circle::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  bottom: 0.5em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background-color: #fff;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__brand {
  color: #fff;
  text-align: right;
  font-size: 1.8em;
  line-height: 1;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

.navbar__item {
  display: inline-block;
}

.navbar__item + .navbar__item {
  margin-left: 32px;
}

.navbar__link {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  color: #c9d2da;
  font-weight: 300;
  text-align: center;
}

.navbar__link::after {
  content: attr(title);
  display: block;
  font-weight: 400;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.navbar__link.active,
.navbar__link:hover {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.navbar__link.active::before,
.navbar__link:hover::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.header .action_link {
  color: #c9d2da;
  font-weight: 300;
}

.header .action__btn {
  margin-left: 28px;
  font-size: 1.6rem;
  border-radius: 22px;
}

/* ===== Hero ===== */
.hero {
  padding: 68px 0 110px;
  background-color: var(--secondary-color);
}

.hero__content {
  width: 44%;
}

.hero .content__title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.8px;
}

.hero .content__desc {
  margin: 22px 0 38px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.hero .content__action .btn {
  padding: 15px 46px;
}

.hero .content__action .link {
  margin-left: 38px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero__img {
  margin-left: auto;
}

.hero__img .img__left {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  z-index: 1;
}

.hero__img .img__right {
  width: 210px;
  height: 410px;
  margin-left: -6px;
  object-fit: cover;
  border-radius: 0 6px 6px 0;
}

/* ===== Services ===== */
.services {
  margin: 170px 0;
}

.services__title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.services__desc {
  width: 468px;
  margin: 18px auto 0;
  color: var(--paragraph-text-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.services__info {
  margin-top: 70px;
  gap: 130px;
}

.services__info .info__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
  object-position: top center;
}

.services__info .info__item {
  padding: 20px 0 18px 22px;
  border-radius: 10px;
  background-color: #fff;
}

.services__info .info__item.row {
  align-items: flex-start;
  gap: 19px;
}

.services__info .info__item .fa-tooth {
  /* flex-shrink: 0; */
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2.5rem;
  color: var(--secondary-color);
  line-height: 58px;
  border-radius: 50%;
  background-color: #eff6fd;
}

.services__info .info__item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__info .info__item:hover .fa-tooth {
  background-color: var(--primary-color);
  color: #fff;
}

.services__info .item__title {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.services__info .item__desc {
  margin-top: 8px;
  color: var(--paragraph-text-color);
  font-weight: 300;
  line-height: 1.75;
}

.services__info .btn {
  margin-top: 55px;
  padding: 15px 48px;
}

/* ===== Works ===== */
.works {
  padding: 100px 0;
  background-color: #f6fbff;
}

.works__title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.works__desc {
  width: 42%;
  margin-top: 18px;
  color: var(--paragraph-text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.works__list {
  margin-top: 86px;
  justify-content: space-between;
  gap: 30px;
}

.works__list .item {
  padding: 43px 42px;
  border: 14px solid #eaf6ff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.works__list .item__title {
  margin-top: 18px;
  color: var(--secondary-color);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.works__list .item__desc {
  margin-top: 28px;
  color: var(--paragraph-text-color);
  font-weight: 300;
  line-height: 1.75;
}

.works__list .item__link {
  display: inline-block;
  margin-top: 18px;
  font-weight: 300;
  color: var(--paragraph-text-color);
}

.works__list .item:hover {
  transform: translateY(-16px);
  border-color: var(--primary-color);
}

.works__list .item:hover .item__link {
  color: var(--primary-color);
  font-weight: 400;
}

/* ===== About ===== */
.about {
  margin-top: 170px;
}

.about__img {
  position: relative;
}

.about__img--left {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.about__img--right {
  position: absolute;
  top: 32%;
  right: -11.2%;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.about .content {
  width: 40%;
  margin-left: auto;
}

.about .content__title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.about .content__desc {
  margin-top: 18px;
  color: var(--paragraph-text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.about .content__btn {
  margin-top: 38px;
  padding: 15px 51px;
}
